@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-image: url("photo/bg.jpg");
  background-size: cover;
}

.content {
  color: #fff;
  height: calc(100vh - 100px);
  padding-top: 100px;
}

.content h3 {
  font-size: 72px;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 30px;
}

.content p {
  font-size: 23px;
  text-align: center;
  margin-top: 32px;
}

.container {
  max-width: 1320px;
  width: 80% !important;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin: auto;
}

/*---------------BAŞLIK---------------*/
header {
  height: 100px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.06);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header nav .logo img {
  width: 50px;
  height: auto;
  margin: 10px;
}

header nav .logo img {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

header nav .logo img:hover {
  animation: animate 10s linear infinite;
  transition: 1s ease-in-out;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  transform: translateX(-50%) scale(1.1);
}

header nav .logo img:not(hover) {
  animation: animate 20s linear infinite;
  transition: 1s ease-in-out;
  filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0.5));
  transform: translateX(-50%) scale(0.9);
}

nav ul {
  list-style: none;
  display: flex;
  column-gap: 30px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.25s ease;
}

nav ul li a:hover {
  color: #0ba2c0;
}

nav .menu {
  display: flex;
  align-items: center;
  column-gap: 48px;
}

nav .menu .project-button {
  color: #fff;
  text-decoration: none;
  background-color: rgba(49, 194, 204, 0);
  padding: 14px 24px;
  border-radius: 56px;
  transition: all 0.25s ease;
}

/*nav .menu .project-button:hover {
    background-color: #0ba2c0;
    color: #fff;
}*/

nav .menu .project-button:hover {
  box-shadow: 0 0 30px #fff;
  transform: scale(0.9);
}

nav .menu .project-button:not(:hover) {
  box-shadow: 0 0 10px #0ba2c0;
  transform: scale(1);
}

/*---------------BAŞLIK SON---------------*/

/*---------------MOBİLE---------------*/
@media only screen and (max-width: 600px) {
  body {
    background-image: url("photo/bgmobil.jpg");
    font-size: 15px;
  }

  .container {
    width: 100% !important;
  }

  .content .links a {
    width: 80%;
  }

  .content {
    padding-top: 30px;
  }

  .content h1 {
    font-size: 36px;
  }

  .content h2 {
    font-size: 36px;
  }
  
    .content h3 {
    font-size: 36px;
    padding-top: 50%;
  }
  .content p {
    font-size: 16px;
  }

  nav .menu {
    column-gap: 0;
    display: unset;
  }

  nav ul {
    margin-left: 1rem !important;
    margin-right: auto;
    column-gap: 20px;
  }

  header {
    height: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .logo img {
    height: auto;
    margin-bottom: 20px;
  }

  .menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 0;
  }

  .menu ul li {
    margin-right: 20px;
  }

  .menu .project-button {
    color: #fff;
    text-decoration: none;
    background-color: rgba(49, 194, 204, 0);
    padding: 14px 24px;
    border-radius: 56px;
    transition: all 0.25s ease;
    display: inline-block;
  }

  .menu .project-button:hover {
    box-shadow: 0 0 30px #fff;
    transform: scale(0.9);
  }

  .menu .project-button:not(:hover) {
    box-shadow: 0 0 10px #0ba2c0;
    transform: scale(1);
  }

  header nav {
    justify-content: center;
  }

  header nav .logo img {
    margin: unset;
    margin-left: 2px;
  }
  header nav .logo img:not(hover) {
    transform: scale(0.9);
  }

  nav .menu .project-button {
    transform: translateX(7em) !important;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  nav .menu .project-button:not(:hover) {
    box-shadow: 0 0 4px #0ba2c0;
    transform: scale(0.9);
  }
}
/*---------------MOBİLE SON---------------*/
